<div class="card container product-body">
  <div *ngIf="errorMessage">
      {{errorMessage}}
  </div>
  <div class="card-header">
      {{product.name}}
  </div>

  <div class="card-body">
    <div class="container">
      <div class="row">
          <div class="col-md-5">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img [src]="product.images[0]" width="720px" class="d-block w-100" alt="..." width="78.4px" height="370px">
                    </div>
                    <!-- <div *ngFor="let urls of product.images; index as i"  class="carousel-item">
                      <img  [src]="urls" class="d-block w-100" alt="...">
                    </div> -->
                    <div  *ngIf="product.images.length>1" class="carousel-item">
                      <img [src]="product.images[1]" class="d-block w-100" alt="..." width="78.4px" height="370px">
                    </div>
                    <div *ngIf="product.images.length>2" class="carousel-item">
                      <img [src]="product.images[2]" class="d-block w-100" alt="..." width="78.4px" height="370px">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
          </div>
          <div class="col-md-7">
            <p id="code" >Product code: {{product.productCode}}</p>
            <p><b>Rating:</b> <br> 
              <app-star-component
                [rating]="product.starRating"
              ></app-star-component>
            </p>
            <p><b>Product price:</b> {{product.price | currency: 'USD' : 'symbol' : '1.2-2'}}</p>
            <p><b>Availability:</b> {{product.quantitity > 0 ? 'In stock' : 'Out of stock'}}</p>
            <p><b>Condition:</b> {{product.condition}}</p>
            <p><b>Brand:</b> {{product.brand}}</p>
            <p *ngIf="product.description && product.description.length"><b>Details:</b> <br> {{product.description}}</p>
          </div>
      </div>
  </div>
  </div>

  <div class="card-footer">
      <button class="btn btn-outline-socondary"
              title="Go back to product list"
              style="width: 80px;"
      >
          <i class="fa fa-chevron-left"></i>Back
      </button>
      <button class="btn btn-outline-socondary"
              style="width: 80px;"
              title="Add to favourites"
              (click)="toggleFavourite()">
              <i *ngIf="!product.favourite" class="heart fa fa-heart-o"></i>
              <i *ngIf="product.favourite" class="heart fa fa-heart"></i>
      </button>
      <button class="btn btn-outline-socondary"
              style="width: 80px;"
              title="Give feedback!!!"
              (click)="toggleFeedback()">
              <i *ngIf="!product.feedback" class="heart fa fa-star-o"></i>
              <i *ngIf="product.feedback" class="heart fa fa-star"></i>
      </button>
      <button class="btn btn-outline-socondary"
              style="width: 80px;"
              title="Add to Shopping Cart"
              (click)="toggleShoppingCart()"
      >
        <i *ngIf="!product.inShoppingCart" class="fa fa-cart-plus" aria-hidden="true"></i>
        <i *ngIf="product.inShoppingCart"class="fa fa-shopping-cart" aria-hidden="true"></i>
      </button>
  </div>
</div>
